/*Refactoring from purecss layout template*/

body {color: #777;}

#layout {
  position: relative;
  padding-left: 0;
}

.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
  .header h1 {
    font-size: 3em;
    margin: 0.2em 0;
  }
  .header h2 {
    color: #ccc;
    padding: 0;
    margin-top: 0;
  }

.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.content-subhead {
  margin: 50px 0 20px;
  color: #888;
}

.header h1, .header h2, .content-subhead {font-weight: 300;}
.header h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  margin-left: -150px; /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
  #menu .author-info-menu {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  #menu .pure-menu-has-children.active .pure-menu-children{
    display: block;
    position: fixed;
    border: 0;
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
  }

  #menu-link-2 + .pure-menu-children {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  /*
  All anchors inside the menu should be styled like this.
  */
  #menu a,
  #menu h3 {
    color: #999;
    border: none;
    padding: 0.6em;
  }

  /*
  Remove all background/borders, since we are applying them to #menu.
  */
   #menu .pure-menu,
   #menu .pure-menu ul {
    border: none;
    background: transparent;
  }

  /*
  Add that light border to separate items into groups.
  */
  #menu .pure-menu ul,
  #menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
  }
    /*
    Change color of the anchor links on hover/focus.
    */
    #menu .pure-menu li a:hover,
    #menu .pure-menu li a:focus {
      background: #333;
    }

  /*
  This styles the selected menu item `<li>`.
  */
  #menu .pure-menu-selected,
  #menu .pure-menu-heading {
    background: #1f8dd6;
  }
    /*
    This styles a link within a selected menu item `<li>`.
    */
    #menu .pure-menu-selected a {
        color: #fff;
    }

  /*
  This styles the menu heading.
  */
  #menu .pure-menu-heading {
    font-weight: normal;
    font-size: 110%;
    color: #fff;
    margin: 0;
  }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  left: 0; /* "#menu width" */
  background: #000;
  background: rgba(0,0,0,0.7);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}

  .menu-link:hover,
  .menu-link:focus {
    background: #000;
  }

  .menu-link span {
    position: relative;
    display: block;
  }

  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
  }

    .menu-link span:before,
    .menu-link span:after {
      position: absolute;
      margin-top: -0.6em;
      content: " ";
    }

    .menu-link span:after {
      margin-top: 0.6em;
    }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  #layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
  }
  #menu {
    left: 150px;
  }

  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }

  #menu .pure-menu-has-children.active .pure-menu-children {
    left: 150px;
    top: 2.6em;
  }
}
